{{- $codespaces:= env "CODESPACES" | not | not -}}
sourceDir = {{ .chezmoi.sourceDir | quote }}

{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $architecture := .chezmoi.arch -}}


{{- $email := "" -}}
{{- if $codespaces }}
{{ $email = "nicholas.osaka@gmail.com" }}
{{- else -}}
{{- $email = promptStringOnce . "email" "Email address" -}}
{{- end }}

{{- $dcliExists := lookPath "dcli" -}}
{{- $status := "" -}}
{{- if $dcliExists -}}
  {{- $status = output "dcli" "status" -}}
{{- end -}}
{{- $dashlaneActive := and (contains "Logged in: yes" $status) (contains "Locked: no" $status) }}

[data]
    osid = {{ $osid | quote }}
    architecture = {{ $architecture | quote }}
    codespaces = {{ $codespaces }}
    email = {{ $email | quote }}
    name = "Nicholas Osaka"
    editor = "nvim"
    atuinUsername = "nosaka"
    dashlaneAtuinKeyName = "atuin-key"
    dashlaneActive = {{ $dashlaneActive }}
