{{- $codespaces:= env "CODESPACES" | not | not -}}
sourceDir = {{ .chezmoi.sourceDir | quote }}

{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $architecture := .chezmoi.arch -}}


{{- $email := "" -}}
{{- if $codespaces }}
{{ $email = "nicholas.osaka@gmail.com" }}
{{- else -}}
{{- $email = promptStringOnce . "email" "Email address" -}}
{{- end }}

[data]
    osid = {{ $osid | quote }}
    architecture = {{ $architecture | quote }}
    codespaces = {{ $codespaces }}
    email = {{ $email | quote }}
    name = "Nicholas Osaka"
    editor = "nvim"
