source ~/.aliases
source ~/.env

eval "$(starship init zsh)"
eval "$(zoxide init zsh)"
source <(fzf --zsh)

# source .local/bin/env if it exists
if [ -f "$HOME/.local/bin/env" ] ; then
  . "$HOME/.local/bin/env"
fi

{{ if eq .osid "darwin" -}}
autoload -U +X compinit && compinit
autoload -U +X bashcompinit && bashcompinit

test -e "${HOME}/.iterm2_shell_integration.zsh" && source "${HOME}/.iterm2_shell_integration.zsh"
{{- else if eq .osid "linux-arch" -}}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv zsh)"
{{- end }}

if command -v uv >/dev/null 2>&1; then
  eval "$(uv generate-shell-completion zsh)"
  eval "$(uvx --generate-shell-completion zsh)"
fi
