#!/bin/sh

echo ""
echo "== Running 10 - Install brews =="
echo ""

{{ if eq .osid "darwin" -}}
# macOS-specific code
echo "Executing macOS specific installation"

/opt/homebrew/bin/brew bundle --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
EOF

{{ else if or (eq .osid "linux-debian") (eq .osid "linux-ubuntu") -}}
# Debian-specific code
echo "Executing Debian specific installation"

/home/linuxbrew/.linuxbrew/bin/brew bundle --file=/dev/stdin <<EOF
{{ range .packages.debian.brews -}}
brew {{ . | quote }}
{{ end -}}
EOF

{{ else if or (eq .osid "linux-arch") (eq .osid  "linux-cachyos") -}}
# Arch-specific code
echo "Executing Arch specific installation"

/home/linuxbrew/.linuxbrew/bin/brew bundle --file=/dev/stdin <<EOF
{{ range .packages.arch.brews -}}
brew {{ . | quote }}
{{ end -}}
EOF

{{ end -}}
