#!/bin/sh

echo ""
echo "== Running 20 - Enable systemd Services =="
echo ""

{{ if or (eq .osid "linux-arch") (eq .osid  "linux-cachyos") (eq .osid "linux-debian") (eq .osid "linux-ubuntu") -}}
## enable and start docker.socket service if not already enabled
systemctl is-active --quiet docker.socket || {
  echo "Enabling and starting docker.socket..."
  sudo systemctl enable --now docker.socket
}
{{- end -}}
