#!/bin/sh

{{ if and (hasKey . "atuinUsername") (not .codespaces) }}
echo ""
echo "== Running 22 - Setup atuin sync"
echo ""

if command -v atuin >/dev/null 2>&1; then
  atuin login -u {{ .atuinUsername }}
fi

{{ end -}}
