#!/bin/sh

echo ""
echo "== Running 01 - Install Homebrew =="
echo ""

if command -v brew >/dev/null 2>&1; then
  echo "Homebrew is already installed"
  echo "brew binary is at $(command -v brew)"
else
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi
