#!/bin/sh

{{ if or (eq .osid "linux-debian") (eq .osid "linux-ubuntu") -}}
echo ""
echo "== Running 13 - Install Debian Specific Packages =="
echo ""
# Debian-specific code
echo "Executing Debian specific installation"
sudo apt-get install <<EOF
{{ range .packages.debian.apts -}}
{{ . }}
{{ end -}}
EOF

{{- end -}}
