{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $name := promptStringOnce . "name" "Full name (for git commits)" -}}

{{- $choices := list "nvim" "vim" "nano" -}}
{{- $editor := promptChoiceOnce . "editor" "Select default editor" $choices -}}

[data]
    osid = {{ $osid | quote }}
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    editor = {{ $editor | toToml }}

