#!/bin/sh

brew_installed_retval=$(which brew)
if [[ $? != 0 ]]; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
else
  echo "Homebrew is already installed"
fi

{{ if eq .osid "darwin" -}}
# macOS-specific code
brew bundle --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF

{{ else if eq .osid "linux-debian" -}}
# Debian-specific code
sudo apt-get install <<EOF
{{ range .packages.debian.apts -}}
{{ . }}
{{ end -}}
EOF

brew bundle --file=/dev/stdin <<EOF
{{ range .packages.debian.brews -}}
brew {{ . | quote }}
{{ end -}}
EOF

{{ else if eq .osid "linux-arch" -}}
# Arch-specific code
sudo pacman -S --needed - <<EOF
{{ range .packages.arch.pacs -}}
{{ . }}
{{ end -}}
EOF

brew bundle --file=/dev/stdin <<EOF
{{ range .packages.arch.brews -}}
brew {{ . | quote }}
{{ end -}}
EOF

{{- end -}}

